<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="CalendarSettingMapper">
	<resultMap type="com.tmmmi.service.domain.CalendarSetting" id="calendarSettingSelectMap">
		<result property="userNo"						column="user_no"						jdbcType="NUMERIC"/>
		<result property="calendarSettingNo"			column="calendar_setting_no"			jdbcType="NUMERIC"/>
		<result property="mainCalendarType"				column="main_calendar_type"				jdbcType="NUMERIC"/>
		<result property="calendarStartDay"				column="calendar_start_day"				jdbcType="NUMERIC"/>
		<result property="showMovie"					column="show_movie"						jdbcType="NUMERIC"/>
		<result property="showSportOverseaSoccer"		column="show_sport_oversea_soccer"		jdbcType="NUMERIC"/>
		<result property="showSportSoccer"				column="show_sport_soccer"				jdbcType="NUMERIC"/>
		<result property="showSportOverseaBaseball"		column="show_sport_oversea_baseball"	jdbcType="NUMERIC"/>
		<result property="showSportBaseball"			column="show_sport_baseball"			jdbcType="NUMERIC"/>
		<result property="showSportOverseaBasketball"	column="show_sport_oversea_basketball"	jdbcType="NUMERIC"/>
		<result property="showSportBasketball"			column="show_sport_basketball"			jdbcType="NUMERIC"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="addCalendarSetting" parameterType="com.tmmmi.service.domain.CalendarSetting">
		INSERT
		INTO calendar_setting (calendar_setting_no, user_no, main_calendar_type, calendar_start_day, show_movie, show_sport_oversea_soccer, 
		show_sport_soccer, show_sport_oversea_baseball, show_sport_baseball, show_sport_oversea_basketball, show_sport_basketball)
		VALUES(
			calendar_setting_no.nextval,
			#{userNo},
			#{mainCalendarType},
			#{calendarStartDay},
			#{showMovie},
			#{showSportOverseaSoccer},
			#{showSportSoccer},
			#{showSportOverseaBaseball},
			#{showSportBaseball},
			#{showSportOverseaBasketball},
			#{showSportBasketball}
		)
	</insert>
	
	<!-- SQL : SELECT ONE -->
	<select id="getCalendarSetting" parameterType="int" resultMap="calendarSettingSelectMap">
		SELECT
		calendar_setting_no, user_no, main_calendar_type, calendar_start_day, show_movie, show_sport_oversea_soccer, 
		show_sport_soccer, show_sport_oversea_baseball, show_sport_baseball, show_sport_oversea_basketball, show_sport_basketball
		FROM calendar_setting
		WHERE user_no = #{value}
	</select>
	
	<!-- SQL : UPDATE -->
	<update id="updateCalendarSetting" parameterType="com.tmmmi.service.domain.CalendarSetting">
		UPDATE calendar_setting
		<set>
			main_calendar_type=#{mainCalendarType},
			calendar_start_day=#{calendarStartDay},
			show_movie=#{showMovie},
			show_sport_oversea_soccer=#{showSportOverseaSoccer},
			show_sport_soccer=#{showSportSoccer},
			show_sport_oversea_baseball=#{showSportOverseaBaseball},
			show_sport_baseball=#{showSportBaseball},
			show_sport_oversea_basketball=#{showSportOverseaBasketball},
			show_sport_basketball=#{showSportBasketball}
		</set>
		WHERE user_no=#{userNo}
	</update>
</mapper>