<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="ContentSettingMapper">
	
	<resultMap type="com.tmmmi.service.domain.ContentSetting" id="contentSettingSelectMap">
		<result property="userNo" 	 			column="user_no" 					jdbcType="NUMERIC"/>
		<result property="contentSettingNo" 	column="content_setting_no" 		jdbcType="NUMERIC"/>
		<result property="tastyKeyword" 		column="tasty_keyword" 				jdbcType="VARCHAR"/>
		<result property="userKeywordNo" 		column="user_keyword_no" 			jdbcType="NUMERIC"/>
		<result property="shoppingKeywordNo" 	column="shopping_keyword_no"		jdbcType="NUMERIC"/>
		<result property="sortSectionNo" 		column="sort_section_no" 			jdbcType="NUMERIC"/>
		
		<result property="movieBoxOffice" 		column="show_movie_boxoffice" 		jdbcType="NUMERIC"/>
		<result property="movieNew" 			column="show_movie_new" 			jdbcType="NUMERIC"/>
		<result property="movieUpcoming" 		column="show_movie_upcoming" 		jdbcType="NUMERIC"/>
		<result property="movieReview" 			column="show_movie_review" 			jdbcType="NUMERIC"/>
		<result property="movieTrailer" 		column="show_movie_trailer" 		jdbcType="NUMERIC"/>
		
		<result property="soccer" 				column="show_soccer" 				jdbcType="NUMERIC"/>
		<result property="overseaSoccer" 		column="show_oversea_soccer" 		jdbcType="NUMERIC"/>
		<result property="baseball"				column="show_baseball" 				jdbcType="NUMERIC"/>
		<result property="overseaBaseball" 		column="show_oversea_baseball" 		jdbcType="NUMERIC"/>
		<result property="basketball" 			column="show_basketball" 			jdbcType="NUMERIC"/>
		<result property="sportGeneral" 		column="show_sport_general" 		jdbcType="NUMERIC"/>
		<result property="sportHighlight" 		column="show_sport_highlight" 		jdbcType="NUMERIC"/>
		
		<result property="showTastyKeyword" 	column="show_tasty_keyword" 		jdbcType="NUMERIC"/>
		
		<result property="showShoppingSearch1" 	column="show_shopping_search_1" 	jdbcType="NUMERIC"/>
		<result property="showShoppingSearch2" 	column="show_shopping_search_2" 	jdbcType="NUMERIC"/>
		<result property="showShoppingSearch3" 	column="show_shopping_search_3" 	jdbcType="NUMERIC"/>
		<result property="showShoppingReview" 	column="show_shopping_review" 		jdbcType="NUMERIC"/>

		<result property="showUserSearch1" 		column="show_user_search_1" 		jdbcType="NUMERIC"/>
		<result property="showUserSearch2" 		column="show_user_search_2" 		jdbcType="NUMERIC"/>
		<result property="showUserSearch3" 		column="show_user_search_3" 		jdbcType="NUMERIC"/>
		<result property="showUserVideo1" 		column="show_user_video_1" 			jdbcType="NUMERIC"/>
		<result property="showUserVideo2" 		column="show_user_video_2" 			jdbcType="NUMERIC"/>
		
		<result property="shoppingSearch1" 		column="shopping_search_1"			jdbcType="VARCHAR"/>
		<result property="shoppingSearch2" 		column="shopping_search_2" 			jdbcType="VARCHAR"/>
		<result property="shoppingSearch3" 		column="shopping_search_3" 			jdbcType="VARCHAR"/>
		<result property="shoppingReview" 		column="shopping_review" 			jdbcType="VARCHAR"/>

		<result property="userSearch1" 			column="user_search_1" 				jdbcType="VARCHAR"/>
		<result property="userSearch2" 			column="user_search_2" 				jdbcType="VARCHAR"/>
		<result property="userSearch3" 			column="user_search_3" 				jdbcType="VARCHAR"/>
		<result property="userVideo1" 			column="user_video_1" 				jdbcType="VARCHAR"/>
		<result property="userVideo2" 			column="user_video_2" 				jdbcType="VARCHAR"/>
		
	</resultMap>
	
	<!-- SQL : INSERT(content_setting) -->
	<insert id="addContentSetting" parameterType="int">
		INSERT
		INTO content_setting(content_setting_no, user_no, shopping_keyword_no, user_keyword_no, sort_section_no)
		VALUES(
			content_setting_no.nextval,
			#{value},
			shopping_keyword_no.nextval,
			user_keyword_no.nextval,
			sort_section_no.nextval
		)
	</insert>
	
	<!-- SQL : INSERT(shopping_keyword) -->
	<insert id="addShoppingKeyword" parameterType="int">
		INSERT
		INTO shopping_keyword(shopping_keyword_no)
		VALUES(
			(SELECT shopping_keyword_no FROM content_setting WHERE user_no = #{value})
		)
	</insert>
	
	<!-- SQL : INSERT(user_keyword) -->
	<insert id="addUserKeyword" parameterType="int">
		INSERT
		INTO user_keyword(user_keyword_no)
		VALUES(
			(SELECT user_keyword_no FROM content_setting WHERE user_no = #{value})
		)
	</insert>
	
	<!-- SQL : INSERT(sort_section) -->
	<insert id="addSortSection" parameterType="int">
		INSERT
		INTO sort_section(sort_section_no, show_movie_boxoffice, show_movie_new, show_movie_upcoming, 
							show_movie_review, show_movie_trailer, show_soccer, show_oversea_soccer,
							show_baseball, show_oversea_baseball, show_basketball,
							show_sport_general, show_sport_highlight, show_tasty_keyword,
							show_shopping_search_1, show_shopping_search_2, show_shopping_search_3,
							show_shopping_review,  show_user_search_1, show_user_search_2, show_user_search_3,
							show_user_video_1, show_user_video_2)
		VALUES(
			(SELECT sort_section_no FROM content_setting WHERE user_no = #{value}),
			1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22
		)
	</insert>
	
	<!-- SQL : SELECT ONE -->
	<select id="getContentSetting" parameterType="int" resultMap="contentSettingSelectMap">
		SELECT DISTINCT *
		FROM content_setting cs, user_keyword uk, shopping_keyword sk, sort_section ss
		WHERE cs.shopping_keyword_no = sk.shopping_keyword_no
    	  AND cs.user_keyword_no = uk.user_keyword_no
     	  AND cs.sort_section_no = ss.sort_section_no
     	  AND cs.user_no = #{userNo}
	</select>
	
	<!-- SQL : UPDATE(content_setting) -->
	<update id="updateContentSetting" parameterType="com.tmmmi.service.domain.ContentSetting">
		UPDATE content_setting
		<set>
			tasty_keyword = #{tastyKeyword}
		</set>
		WHERE user_no = #{userNo}
	</update>
	
	<!-- SQL : UPDATE(shopping_keyword) -->
	<update id="updateShoppingKeyword" parameterType="com.tmmmi.service.domain.ContentSetting">
		UPDATE shopping_keyword
		<set>
			shopping_search_1 = #{shoppingSearch1:VARCHAR},
			shopping_search_2 = #{shoppingSearch2:VARCHAR},
			shopping_search_3 = #{shoppingSearch3:VARCHAR},
			shopping_review = #{shoppingReview:VARCHAR}
		</set>
		WHERE shopping_keyword_no = (SELECT shopping_keyword_no FROM content_setting WHERE user_no = #{userNo})
	</update>
	
	<!-- SQL : UPDATE(user_keyword) -->
	<update id="updateUserKeyword" parameterType="com.tmmmi.service.domain.ContentSetting">
		UPDATE user_keyword
		<set>
			user_search_1 = #{userSearch1:VARCHAR},
			user_search_2 = #{userSearch2:VARCHAR},
			user_search_3 = #{userSearch3:VARCHAR},
			user_video_1 = #{userVideo1:VARCHAR},
			user_video_2 = #{userVideo2:VARCHAR}
		</set>
		WHERE user_keyword_no = (SELECT user_keyword_no FROM content_setting WHERE user_no = #{userNo})
	</update>
	
	<!-- SQL : UPDATE(sort_section -->
	<update id="updateSortSection" parameterType="com.tmmmi.service.domain.ContentSetting">
		UPDATE sort_section
		<set>
			show_movie_boxoffice = #{movieBoxOffice:NUMERIC},
			show_movie_new = #{movieNew:NUMERIC},
			show_movie_upcoming = #{movieUpcoming:NUMERIC},
			show_movie_review = #{movieReview:NUMERIC},
			show_movie_trailer = #{movieTrailer:NUMERIC},
			show_soccer = #{soccer:NUMERIC},
			show_oversea_soccer = #{overseaSoccer:NUMERIC},
			show_baseball = #{baseball:NUMERIC},
			show_oversea_baseball = #{overseaBaseball:NUMERIC},
			show_basketball = #{basketball:NUMERIC},
			show_sport_general = #{sportGeneral:NUMERIC},
			show_sport_highlight = #{sportHighlight:NUMERIC},
			show_tasty_keyword = #{showTastyKeyword:NUMERIC},
			show_shopping_search_1 = #{showShoppingSearch1:NUMERIC},
			show_shopping_search_2 =  #{showShoppingSearch2:NUMERIC},
			show_shopping_search_3 = #{showShoppingSearch3:NUMERIC},
			show_shopping_review = #{showShoppingReview:NUMERIC},
			show_user_search_1 = #{showUserSearch1:NUMERIC},
			show_user_search_2 = #{showUserSearch2:NUMERIC},
			show_user_search_3 = #{showUserSearch3:NUMERIC},
			show_user_video_1 = #{showUserVideo1:NUMERIC},
			show_user_video_2 = #{showUserVideo2:NUMERIC}
		</set>
		WHERE sort_section_no = (SELECT sort_section_no FROM content_setting WHERE user_no = #{userNo})
	</update>
</mapper>