<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FAQMapper">
 	
	<resultMap id="FAQSelectMap"  type="com.tmmmi.service.domain.FAQ">
		<result property="FAQNo" 				column="faq_no" 						jdbcType="NUMERIC"/>
		<result property="FAQCategory"		column="user_center_category" 	jdbcType="NUMERIC" />
		<result property="FAQTitle" 				column="faq_title" 					jdbcType="VARCHAR" />
		<result property="FAQDetail" 			column="faq_detail" 					jdbcType="VARCHAR" />
		<result property="FAQDate" 			column="faq_date" 					jdbcType="DATE" />
		<result property="FAQDeleteCheck" 	column="faq_delete_check" 			jdbcType="NUMERIC" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addFAQ"	parameterType="com.tmmmi.service.domain.FAQ" >
		INSERT
		INTO faq( faq_no , user_center_category , faq_title , faq_detail , faq_date) 
		VALUES	 (	faq_no.nextval , 
						#{FAQCategory} , 
						#{FAQTitle} ,
						#{FAQDetail} , 
						SYSDATE)
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getFAQList"  parameterType="com.tmmmi.common.Search"	resultMap="FAQSelectMap">
		SELECT *
		FROM (	SELECT inner_table.* , ROWNUM AS row_seq
			FROM		(	SELECT faq_no, user_center_category, faq_title, faq_detail, faq_date
								FROM faq
								<if test="searchCondition != null">
									<where>
									<if test="searchCondition == 0 and searchKeyword !='' ">
										faq_title=#{searchKeyword}
									</if>
									<if test="searchCondition == 1 and searchKeyword != '' ">
										faq_detail=#{searchKeyword} 
									</if>
									</where>
								</if>
								ORDER BY faq_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="com.tmmmi.common.Search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT  faq_no, user_center_category, faq_title, faq_detail, faq_date
								FROM faq
								) countTable						
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateFAQ"	parameterType="com.tmmmi.service.domain.FAQ" >
	   	UPDATE faq
	   	<set>	
	   		user_center_category = #{FAQCategory},
	   		faq_title = #{FAQTitle},
	   		faq_detail = #{FAQDetail}
	   	</set>
	   	WHERE faq_no = #{FAQNo}
	 </update>
		
	 <select	id="getFAQ"	 parameterType="com.tmmmi.service.domain.FAQ" resultMap="FAQSelectMap">
	   	SELECT faq_no, user_center_category, faq_title, faq_detail, faq_date
	   	FROM faq
		WHERE faq_no= #{value}
	 </select>
	
</mapper>