<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	<mappers>
 		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/CalendarSettingMapper.xml"/>
		<mapper resource="sql/UserSettingMapper.xml"/>
		<mapper resource="sql/ContentSettingMapper.xml"/>
		<mapper resource="sql/DiaryMapper.xml"/>
		<mapper resource="sql/TodoMapper.xml"/>
		<mapper resource="sql/UserCategoryMapper.xml"/> 
		<mapper resource="sql/FAQMapper.xml"/> 
	</mappers>

</configuration>