<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QNAMapper">
 	
	<resultMap id="QNASelectMap"  type="com.tmmmi.service.domain.QNA">
	
		<result property="QNANo" 					column="qna_no" 						jdbcType="NUMERIC"/>
		<result property="userNo"					column="user_no"						jdbcType="NUMERIC"/>
		<result property="QNACategory"			column="user_center_category" 	jdbcType="NUMERIC" />
		<result property="QNATitle" 				column="qna_title" 					jdbcType="VARCHAR" />
		<result property="QNADetail" 				column="qna_detail" 					jdbcType="VARCHAR" />
		<result property="QNADate" 				column="qna_date" 					jdbcType="DATE" />
		<result property="QNAAnswerCheck" 		column="qna_answer_check" 		jdbcType="NUMERIC" />
		<result property="QNAAnswerDetail" 		column="qna_answer_detail" 		jdbcType="VARCHAR" />
		<result property="QNAAnswerDate" 		column="qna_answer_date" 			jdbcType="DATE" />
	
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addQNA"	parameterType="com.tmmmi.service.domain.QNA" >
	 	INSERT
		INTO qna( qna_no, user_no, user_center_category , qna_title , qna_detail, qna_date) 
		VALUES	 (	qna_no.nextval ,
						#{userNo},
						#{QNACategory} ,
						#{QNATitle} , 
						#{QNADetail} , 
						SYSDATE)	 
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getQNAList"  parameterType="map"	 resultMap="QNASelectMap">
		SELECT *
		FROM (	SELECT inner_table.* , ROWNUM AS row_seq
			FROM		(	SELECT user_no, qna_no, user_center_category, qna_title, qna_detail, qna_date, qna_answer_check
							FROM qna
							<where>
							user_no = #{userNo}
								<if test="searchCondition != null">
									<if test="searchCondition == 0 and searchKeyword !='' ">
										AND qna_title=#{search.searchKeyword}
									</if>
									<if test="searchCondition == 1 and searchKeyword != '' ">
										AND qna_detail=#{search.searchKeyword} 
									</if>
								</if>
							 </where>
							 ORDER BY qna_no ) inner_table
							WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="int"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT  qna_no, user_center_category, qna_title, qna_detail, qna_date
								FROM qna
								<where>
									user_no=#{userNo}
								</where>
								) countTable						
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateQNA"	parameterType="com.tmmmi.service.domain.QNA" >
	 	UPDATE qna
	   	<set>
	   		user_center_category = #{QNACategory},
	   		qna_title = #{QNATitle},
	   		qna_detail = #{QNADetail}
	   	</set>
	   	WHERE qna_no=#{QNANo}
	 </update>
		 
	<select	id="getQNA"	 parameterType="com.tmmmi.service.domain.QNA" resultMap="QNASelectMap">
	   	SELECT qna_no, user_center_category , qna_title , qna_detail, qna_date, qna_answer_check, qna_answer_detail, qna_answer_date
	   	FROM qna
		WHERE qna_no= #{value}
	 </select>
	 
	 <update id="addQNAAnswer"	parameterType="com.tmmmi.service.domain.QNA" >
	 	UPDATE qna
	   	<set>
	   		qna_answer_check = 1,
	   		qna_answer_detail = #{QNAAnswerDetail},
	   		qna_answer_date = SYSDATE
	   	</set>
	   	WHERE qna_no=#{QNANo}
	 </update>
	 
	 <update id="updateQNAAnswer"	parameterType="com.tmmmi.service.domain.QNA" >
	 	UPDATE qna
	   	<set>
	   		qna_answer_check = 1,
	   		qna_answer_detail = #{QNAAnswerDetail},
	   		qna_answer_date = SYSDATE
	   	</set>
	   	WHERE qna_no=#{QNANo}
	 </update>
	
</mapper>