<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScheduleMapper">
	
	<resultMap id="scheduleSelectMap" type="com.tmmmi.service.domain.Schedule">
		<result property="scheduleNo"			column="schedule_no"			jdbcType="NUMERIC" />
		<result property="userNo"				column="user_no"				jdbcType="NUMERIC" />
		<result property="userCategoryNo"		column="user_category_no"		jdbcType="NUMERIC" />
		<result property="scheduleTitle"		column="schedule_title"			jdbcType="VARCHAR" />
		<result property="scheduleDetail"		column="schedule_detail" 		jdbcType="VARCHAR" />
		<result property="scheduleLocation"		column="schedule_location" 		jdbcType="VARCHAR" />
		<result property="scheduleStartDate"	column="schedule_start_date" 	jdbcType="DATE" />
		<result property="scheduleEndDate"		column="schedule_end_date" 		jdbcType="DATE" />
		<result property="goingDuration"		column="going_duration"			jdbcType="NUMERIC" />
		<result property="comingDuration"		column="coming_duration"		jdbcType="NUMERIC" />
		<result property="isScheduleDDay"		column="schedule_dday" 			jdbcType="NUMERIC" />
		<result property="markDDay"				column="mark_dday"				jdbcType="NUMERIC" />
		<result property="isScheduleImportant"	column="schedule_important" 	jdbcType="NUMERIC" />
		<result property="scheduleAlarmTime"	column="schedule_alarm_time" 	jdbcType="NUMERIC" />
	</resultMap>
	
	<insert id="addSchedule" parameterType="com.tmmmi.service.domain.Schedule">
	 	INSERT
		INTO schedule ( schedule_no , user_no , user_category_no , schedule_title, schedule_detail, schedule_location, 
						schedule_start_date, schedule_end_date, going_duration, coming_duration, 
						schedule_dday, mark_dday, schedule_important, schedule_alarm_time, schedule_delete_check ) 
		VALUES ( schedule_no.nextval ,
				#{userNo} , 
				#{userCategoryNo} ,
				#{scheduleTitle} ,
				#{scheduleDetail} ,
				#{scheduleLocation} ,
				#{scheduleStartDate} ,
				#{scheduleEndDate} ,
				#{goingDuration} ,
				#{comingDuration} ,
				#{isScheduleDDay} ,
				#{markDDay} ,
				#{isScheduleImportant} ,
				#{scheduleAlarmTime},
				0
				)
	 </insert>
	 
	 <select  id="getScheduleList"  parameterType="map"	resultMap="scheduleSelectMap">
	 	SELECT *
	 	FROM schedule
	 	WHERE user_no = #{userNo}
	 	AND (schedule_start_date BETWEEN #{startDate} AND #{endDate}
	 	OR schedule_end_date BETWEEN #{startDate} AND #{endDate})
	 </select>
	 
	 <update id="updateSchedule" parameterType="com.tmmmi.service.domain.Schedule" >
	   	UPDATE schedule
	   	<set>				
	   		user_category_no = #{userCategoryNo},
			schedule_title = #{scheduleTitle},
			schedule_detail = #{scheduleDetail},
			schedule_location = #{scheduleLocation},
			schedule_start_date = #{scheduleStartDate},
			schedule_end_date = #{scheduleEndDate},
			going_duration = #{goingDuration},
			coming_duration = #{comingDuration},
			schedule_dday = #{isScheduleDDay},
			mark_dday = #{markDDay},
			schedule_important = #{isScheduleImportant},
			schedule_alarm_time = #{scheduleAlarmTime}
	   	</set>
	   	WHERE schedule_no = #{scheduleNo}
	 </update>
	 
	 <update id="deleteSchedule" parameterType="com.tmmmi.service.domain.Schedule">
	 	UPDATE schedule
	 	<set>
	 		schedule_delete_check = 1
	 	</set>
	 	WHERE schedule_no = #{scheduleNo}
	 </update>
	 
</mapper>