<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TodoMapper">

		<resultMap id="TodoSelectMap" type="com.tmmmi.service.domain.ToDo">
		<result property="toDoNo" column="todo_no" jdbcType="INTEGER"/>
		<result property="userNo" column="user_no" jdbcType="NUMERIC"/>
		<result property="toDoDetail" column="todo_detail" jdbcType="VARCHAR"/>
		<result property="toDoStartDate" column="todo_start_date" jdbcType="DATE"/>
		<result property="toDoEndDate" column="todo_end_date" jdbcType="DATE"/>
		<result property="toDoCompleteNo" column="todo_complete_no" jdbcType="NUMERIC"/>
		<result property="toDoCompleteDate" column="todo_complete_date" jdbcType="DATE"/>
		</resultMap>
		
		<insert id="addTodo" parameterType="com.tmmmi.service.domain.ToDo">
			INSERT INTO todo (todo_no, user_no, todo_detail, todo_start_date, todo_end_date)
			VALUES (todo_no.nextval, #{userNo}, #{toDoDetail}, #{toDoStartDate}, #{toDoEndDate})
		</insert>
		
		<update id="updateTodo"  parameterType="com.tmmmi.service.domain.ToDo">
			UPDATE todo
			<set>
				todo_detail = #{toDoDetail},
				todo_start_date = #{toDoStartDate},
				todo_end_date = #{toDoEndDate}
			</set>
			WHERE todo_no = #{toDoNo}
		</update>
		
		<insert id="addTodoComplete" parameterType="com.tmmmi.service.domain.ToDo">
			INSERT INTO todo_complete (todo_no, todo_complete_no, todo_complete_date)
			VALUES (#{toDoNo}, todo_complete_no.nextval, #{toDoCompleteDate})
		</insert>
		
		<delete id="deleteTodoComplete" parameterType="com.tmmmi.service.domain.ToDo" >
  			DELETE FROM todo_complete 
  			WHERE todo_complete_no = #{toDoCompleteNo}
		</delete>
		
		<delete id="deleteTodo" parameterType="com.tmmmi.service.domain.ToDo" >
  			DELETE FROM todo 
  			WHERE todo_no = (SELECT t.todo_no
												FROM todo t, todo_complete tc
												WHERE t.todo_no = tc.todo_no(+)
									            AND t.todo_no = #{toDoNo}
									            AND t.user_no = #{userNo})
		</delete>
		
		<select id="getTodoList" parameterType="map" resultMap="TodoSelectMap">
			SELECT todo_no, user_no, todo_Detail, todo_start_date, todo_end_date
			FROM todo
			WHERE user_no = #{userNo}
			AND #{targetDate} BETWEEN todo_start_date AND todo_end_date
		</select>
		
		<select id="getCompleteTodoList" parameterType="map" resultMap="TodoSelectMap">
			SELECT DISTINCT t.todo_no, tc.todo_complete_no, todo_complete_date, t.todo_Detail
			FROM todo t, todo_complete tc
			WHERE user_no = #{userNo}
                        AND t.todo_no = tc.todo_no(+)
						AND #{targetDate} BETWEEN todo_start_date AND todo_end_date
		</select>
</mapper>