<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TodoMapper">

		<resultMap id="TodoSelectMap" type="com.tmmmi.service.domain.ToDo">
		<result property="toDoNo" column="todo_no" jdbcType="INTEGER"/>
		<result property="userNo" column="user_no" jdbcType="NUMERIC"/>
		<result property="toDoDetail" column="todo_detail" jdbcType="VARCHAR"/>
		<result property="toDoStartDate" column="todo_start_date" jdbcType="DATE"/>
		<result property="toDoEndDate" column="todo_end_date" jdbcType="DATE"/>
		<result property="toDoCompleteNo" column="todo_complete_no" jdbcType="NUMERIC"/>
		<result property="toDoCompleteDate" column="todo_complete_date" jdbcType="DATE"/>
		<result property="toDoCount" column="todo_count" jdbcType="NUMERIC"/>
		<result property="toDoCountDate" column="todo_count_date" jdbcType="VARCHAR"/>
		</resultMap>
		
		<insert id="addTodo" parameterType="com.tmmmi.service.domain.ToDo">
			INSERT INTO todo (todo_no, user_no, todo_detail, todo_start_date, todo_end_date)
			VALUES (todo_no.nextval, #{userNo}, #{toDoDetail}, #{toDoStartDate}, #{toDoEndDate})
		</insert>
		
		<update id="updateTodo"  parameterType="com.tmmmi.service.domain.ToDo">
			UPDATE todo
			<set>
				todo_detail = #{toDoDetail},
				todo_start_date = #{toDoStartDate},
				todo_end_date = #{toDoEndDate}
			</set>
			WHERE todo_no = #{toDoNo}
		</update>
		
		<insert id="addTodoComplete" parameterType="com.tmmmi.service.domain.ToDo">
			INSERT INTO todo_complete (todo_no, todo_complete_no, todo_complete_date)
			VALUES (#{toDoNo}, todo_complete_no.nextval, #{toDoCompleteDate})
		</insert>
		
		<delete id="deleteTodoComplete" parameterType="com.tmmmi.service.domain.ToDo" >
  			DELETE FROM todo_complete 
  			WHERE todo_complete_no = #{toDoCompleteNo}
		</delete>
		
		<delete id="deleteTodo" parameterType="com.tmmmi.service.domain.ToDo" >
  			DELETE FROM todo 
  			WHERE todo_no IN (SELECT t.todo_no
												FROM todo t, todo_complete tc
												WHERE t.todo_no = tc.todo_no(+)
									            AND t.todo_no = #{toDoNo}
									            AND t.user_no = #{userNo})
		</delete>
		
		<select id="getTodo" parameterType="com.tmmmi.service.domain.ToDo" resultMap="TodoSelectMap">
			SELECT td.*, tc.todo_complete_no, tc.todo_complete_date
				FROM todo_complete tc, 
					(SELECT t.todo_no, t.user_no, t.todo_detail, t.todo_start_date, t.todo_end_date
						FROM todo t
						WHERE t.todo_no = #{toDoNo})td
				WHERE td.todo_no = tc.todo_no(+)
				<if test="toDoCompleteDate != null">
				AND tc.todo_complete_date = #{toDoCompleteDate}</if>
		</select>
		
		<select id="getTodoOne" parameterType="com.tmmmi.service.domain.ToDo" resultMap="TodoSelectMap">
			SELECT *
				FROM todo
				WHERE todo_no = #{toDoNo}
		</select>
		
		<select id="getTodoList" parameterType="map" resultMap="TodoSelectMap">
			SELECT td.*, tc.todo_complete_no, tc.todo_complete_date
			FROM todo_complete tc, 
				(SELECT t.todo_no, t.user_no, t.todo_detail, t.todo_start_date, t.todo_end_date
					FROM todo t
					WHERE t.user_no = #{userNo}
					AND #{targetDate} BETWEEN t.todo_start_date AND t.todo_end_date) td
			WHERE td.todo_no = tc.todo_no(+)
			AND tc.todo_complete_date(+) = #{targetDate}
		</select>
		
		<select id="getCompleteTodoList" parameterType="map" resultMap="TodoSelectMap">
			SELECT DISTINCT t.todo_no, tc.todo_complete_no, todo_complete_date, t.todo_Detail
			FROM todo t, todo_complete tc
			WHERE user_no = #{userNo}
                        AND t.todo_no = tc.todo_no(+)
						AND #{targetDate} BETWEEN todo_start_date AND todo_end_date
		</select>
		
		<select id="getMonthList" parameterType="map" resultMap="TodoSelectMap">
		SELECT m.month as todo_count_date, nvl(md.todo_count, 0) as todo_count
		FROM
		(
		   select '01' month from dual union all
		   select '02' month from dual union all
		   select '03' month from dual union all
		   select '04' month from dual union all
		   select '05' month from dual union all
		   select '06' month from dual union all
		   select '07' month from dual union all
		   select '08' month from dual union all
		   select '09' month from dual union all
		   select '10' month from dual union all
		   select '11' month from dual union all
		   select '12' month from dual
		) m ,(
					SELECT COUNT(*) as todo_count, to_char(tc.todo_complete_date, 'MM') as todo_count_date
					FROM todo t, todo_complete tc
					WHERE t.user_no = #{userNo}
					AND t.todo_no = tc.todo_no(+)
					AND todo_complete_date BETWEEN #{startDate} AND #{lastDate}
					GROUP BY  to_char(tc.todo_complete_date, 'MM')
					ORDER BY to_char(tc.todo_complete_date, 'MM')
					) md 
			WHERE m.month = md.todo_count_date(+)
			ORDER BY m.month
		</select>
		
		<select id="getWordList" parameterType="map" resultMap="TodoSelectMap">
		SELECT todo_detail
		FROM todo
		WHERE user_no = #{userNo}
		AND  todo_start_date BETWEEN #{startDate} AND #{lastDate}
		</select>
</mapper>