<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserCategoryMapper">
	
	<resultMap id="userCategorySelectMap" type="com.tmmmi.service.domain.UserCategory">
		<result property="userCategoryNo"		column="user_category_no"			jdbcType="NUMERIC" />
		<result property="userNo"				column="user_no"					jdbcType="NUMERIC" />
		<result property="userCategoryColor"	column="user_category_color"		jdbcType="VARCHAR" />
		<result property="userCategoryName"		column="user_category_name" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="addUserCategory" parameterType="com.tmmmi.service.domain.UserCategory">
	 	INSERT
		INTO user_category ( user_category_no , user_no , user_category_color , user_category_name ) 
		VALUES ( user_category_no.nextval , 
				#{userNo} , 
				#{userCategoryColor} ,
				#{userCategoryName}
				)
	 </insert>
	 
	 <select  id="getUserCategory"  parameterType="com.tmmmi.service.domain.UserCategory"	resultMap="userCategorySelectMap">
	 	SELECT user_category_no
	 	FROM user_category
	 	WHERE user_no = #{userNo} AND user_category_name = #{userCategoryName} AND user_category_color = #{userCategoryColor} 
	 </select>
	 
	 <select  id="getUserCategoryList"  parameterType="java.lang.Integer"	resultMap="userCategorySelectMap">
	 	SELECT *
	 	FROM user_category
	 	WHERE user_no = #{userNo}
	 </select>
	 
	 <update id="updateUserCategory" parameterType="com.tmmmi.service.domain.UserCategory" >
	   	UPDATE user_category
	   	<set>
	   		user_category_color = #{userCategoryColor} ,
			user_category_name	= #{userCategoryName}
	   	</set>
	   	WHERE user_category_no = #{userCategoryNo}
	 </update>
	 
	 <delete id="deleteUserCategory" parameterType="com.tmmmi.service.domain.UserCategory">
	 	DELETE
	 	FROM user_category
	 	WHERE user_category_no = #{userCategoryNo}
	 </delete>
	 
</mapper>